absl-py
altair
altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/altgraph-0.17.2-py2.py3-none-any.whl
ansi2html
anyio
appnope
argon2-cffi
argon2-cffi-bindings
array-record
arrow
asttokens
astunparse
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blender
blinker
cachetools
certifi
cffi
charset-normalizer
chumpy
click
comm
contourpy
cycler
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
dm-tree
etils
exceptiongroup
executing
fastjsonschema
filelock
Flask
flatbuffers
fonttools
fqdn
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/future-0.18.2-py3-none-any.whl
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
idna
imageio
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonargparse
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
keras
kiwisolver
libclang
lxml
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/macholib-1.15.2-py2.py3-none-any.whl
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
multipledispatch
natsort
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
oauthlib
opencv-contrib-python.72
opencv-python.74
OpenEXR
opt-einsum
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
plotly
prometheus-client
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeckb0
Pygments
PyOpenGL
PyOpenGL-accelerate
pyparsing
pyrr
python-dateutil
python-json-logger
python-pptx
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
retrying
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scikit-learn
scipy
seaborn
Send2Trash
sequential
six @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot11/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-141/six-1.15.0-py2.py3-none-any.whl
smmap
smpl-pytorch
sniffio
soupsieve
stack-data
streamlit
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-graphics
tensorflow-macos
tensorflow-metadata
termcolor
terminado
threadpoolctl
tinycss2
toml
tomli
toolz
torch
torchsummary
torchvision
tornado
tqdm
traitlets
trimesh
typeguard
typing_extensions
tzdata
tzlocal
uri-template
urllib3
validators
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wrapt
XlsxWriter
zipp
